.add-padding-top-bottom { 
  padding-top: 2em;
  padding-bottom: 2em;
}

.concert-card {
  height: 175px;
  overflow: scroll;
}

.concert-scroller {
  overflow: scroll;
}

.DateInput__display-text {
  text-align: center;
}

.DateRangePickerInput {
  width: 100%;
  min-width: 350px;
}

.DateRangePickerInput:active {
  border-color: #00d1b2;
}

.DateRangePickerInput:hover {
  border-color: #b5b5b5;
}

.fixed-width-100 {
  width: 100%
}

.form-text-field {
  border: 1px solid #cacccd;
  border-radius: 0;
}

.icon-colour-green {
  color: $primary;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  &:hover {
      color: red;
  } 
}

.index-is-2 {
  z-index: 2;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #cacccd;
  border-radius: 0px; 
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  background-color: white;
  max-width: 100%;
  width: 100%;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
  margin: 0;
  height: 50px;
  vertical-align: middle;
}

.locationButtons {
  height: 50px;
  border-radius: 0px;
  border: 0px
}

.logo-text {
  color: $primary;
  font-size: 2em;
}

.min-height{
  min-height: 800px;
}

.min-width {
  min-width: 350px;
}

.modal-background {
  background-color: $primary;
  opacity: 0.8 ;
}

.navbar {
  background-color: transparent;
}

.no-padding-left-right {
  padding-left: 0;
  padding-right: 0;
}
